<h1>Post#add</h1>
<p>記事の作成</p>
<% if @post.errors.any? %>
<ul>
  <% @post.errors.full_message.each do |err| %>
      <li><%= err %></li>
  <% end %>
</ul>
<% end %>

<table>
  <%= form_for(@post, url:{controller:'post', action:'add'}) do |form| %>

  <tr><th>タイトル</th>
      <td><%= form.text_field :title %></td></tr>
  <tr><th>内容</th>
      <td><%= form.text_field :content %></td></tr>
  <tr><th>ステータス</th>
      <td>
        <%= form.select :status, [['公開', 1], ['非公開', 2]], { selected: 1 } %>
      </td></tr>
  <tr><th></th>
      <td><%= form.submit "作成" %></td></tr>
  <% end %>
</table>
